 body {
    font-family: sans-serif;
    background-color: aliceblue;
    color: black;
    line-height: 1.6;
    padding: 20px;
 }


 h1 {
    text-align: center;
    color: darkmagenta;
 }


 .main-info  {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
 }

 .main-info img {
    width: 300px;
    border-radius: 8px;
 }

 ul {
    background-color: beige;
    padding: 15px;
    border-radius: 5px;
    
 }

 a {
    color: blueviolet;
    text-decoration: underline;
 }
 

 